body {
    font-family: "Heebo", sans-serif;
}


/* navbar styles start*/
a.navbar-links {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    
}

#navbar-div {
    display: none;
    justify-content: flex-end;
    column-gap: 30px;
    padding: 10px 40px;
    
}
/* navbar styles end*/

/* backdrop styles start*/
#backdrop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    column-gap: 25px;
    padding: 3% 8% 0px;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
}

img.dp{
    width:200px;
    height:auto;
}

@media screen and (min-width:500px) {
    #backdrop{
        flex-direction: row;
        text-align: left;
        
    }

    #backdrop-left {
        width: 50%;
    }
    
    #backdrop-left > h1 {
        font-size: 50px;
    }

    img.dp{
        width:300px;

    }

    #backdrop-right {
        width: 45%;
        text-align: centre;
    }

    #navbar-div {
        display: flex;
    }

}

#backdrop-left {
    width: 100%;
    color: #21243D;
}
#backdrop-left > h1 {
    font-weight: 700;
    font-size: 32px;
}

#backdrop-left > p {
    font-weight: 400;
    font-size: 20x;
    padding-bottom: 10px;
}

#backdrop-button {
    background-color: #FF6464;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 20px;
    border:0;
}

#backdrop-right {
    width: 100%;
    text-align: center;
}
/* backdrop styles end*/

/* blog-section styles start*/
#recent-blog-posts-section{
    background-color: #EDF7FA;
    padding: 2.5% 2% 5%;
}

#recent-posts-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#recent-posts-header > h4{
    margin: 0px;
    color: #21243D;
    font-weight: 400;
    font-size: 18px;
}
#recent-posts-header > a{
    font-size: 14px;
    color: #00A8CC;
    text-decoration: none;
}

#card-container{
    display:flex;
    flex-direction: column;
    column-gap: 5%;
    row-gap: 30px;
}

@media screen and (min-width:500px) {
    #card-container{
        flex-direction: row;
        column-gap:3%
    }
    #recent-blog-posts-section{
        padding: 2.5% 8.5% 3%;
    }
    
}

div.card{
    color: #21243D;
    font-weight: 400;
    background-color: white;
    padding: 5px 22px;
    border-radius: 2%;
}

h2.my-h2{
    font-weight: 700;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #21243D;
}

div.card> span{
    font-size: 18px;
    padding: 5px 10px;
}

div.card> p{
    font-size: 16px;
}
/* blog-section styles start*/

/* featured works start*/

#featured-works{
    padding: 4% 8.5%; 
    background-color:white;
    color: #21243D;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#featured-works-header > h4{
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
}

div.horizontal-card{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    column-gap: 3%;
}

@media screen and (min-width:500px){
    div.horizontal-card{
        margin-top: 10px;
        flex-direction: row;
        row-gap: 3%;
    }
}

div.horizontal-card >img{
    border-radius: 10px;
}

span.pill{
    background-color: #142850;
    padding: 1px 10px;
    color:white;
    font-weight: 750;
    font-size: 16px;
    border-radius: 60px;
}

#featured-works-category{
    color: #8695A4;
    font-size: 18px;
    margin-left: 18px;
    font-weight: 400;
}

div.horizontal-card > div > p{
    color: #142850;
    font-weight: 400;
    font-size: 16px;
}
/* featured works ends*/



/* social media links starts*/
#social-media-links-section{
    margin-top:130px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    color: #21243D;


}
#icons>a{
    color:#142850;
}
#icons{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
#social-media-links-section > div> p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    color:#142850;
}

/* social media links ends*/